body{
    background-color:rgb(19, 24, 49);
    margin: 0px;
}

#blockTop{
    height: 37px;
    width: 100%;
    background-color: rgb(170, 147, 14);
}

#basicBlock{
    position: relative;
    height: 753px;
    width: 94%;
    background-color: rgb(149, 128, 11);
    left: 3%;
    top: 51px;
}

#block1{
    position:absolute;
    height: 197px;
    width: 339px;
    background-color:rgb(213, 213, 213);
    left: 5%;
    top: 121px;
    border-style: solid;
    border-color:rgb(19, 24, 49);
    border-width:13px ;
}

#block2{
    position:absolute;
    height: 215px;
    width: 363px;
    background-color:rgb(19, 24, 49);
    left: 5%;
    top: 367px;
}

#block3{
    position:absolute;
    height: 197px;
    width: 339px;
    background-color:rgb(213, 213, 213);
    left: 5%;
    top: 607px;
    border-style: solid;
    border-color:rgb(19, 24, 49);
    border-width:13px ;
}

#paperBlock{
    position:absolute;
    height: 707px;
    width: 825px;
    background-color:rgb(213, 213, 213);
    right: 6%;
    top: 135px;
    border-radius: 0px 21px 0px 0px;
}
